
<Context path="/{{ app.context }}" docBase="/tmp/test.war" reloadable="true">

      <Resources className="org.apche.StandardRoot">
      
            <PreResources className="org.apache.catalina" base="{{ app.context }}"><PreResources>

</Resources>




</Context>
